.btn
  border none
  font-size 20px
  padding 5px 15px
  margin 10px
  cursor pointer
  border-radius 3px

.btn-primary
  background $brand-primary
  color #fff

  &:hover
    background lighten($brand-primary, 5%)